<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fpoly.dell.project1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/farmer"
        android:label="Farm"
        android:roundIcon="@drawable/farmer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fpoly.dell.project.ui.LoginActivity"
            android:exported="true"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fpoly.dell.project.ui.HomeActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.LoginActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.KinhNghiemActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ChiPhiActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ThemChiPhiActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.ChiPhiActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ChiTietChiPhiActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.ChiPhiActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ThucAnActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ThemThucAnActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.ThucAnActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ThongKeActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.RegisterActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.LoginActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.BayDanActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ThemBayDanActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.BayDanActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.CheckBDActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.GiongAcitivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ThemGiongActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.GiongAcitivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.TrangThietBiActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ThemTrangThietBiActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.TrangThietBiActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.NCCActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.ThemNCCActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.NCCActivity" />
        <activity
            android:name="com.fpoly.dell.project.ui.DoActivity"
            android:parentActivityName="com.fpoly.dell.project.ui.HomeActivity" />
    </application>

</manifest>